@using System.Security.Claims
@model IEnumerable<Forum_ASP.NET.Models.Comment>


@{
    ViewBag.Title = "Comments";
}

<h2>@ViewData["Title"]</h2>

@if (User.IsSignedIn())
{
<p>
    <a class="btn btn-default" asp-action="CreateComment" asp-controller="Discussions" asp-route-id="@Model.First().DiscussionId">New Comment</a>
</p>
}
else { }

<table>
    <tr>
        <th width="1%"></th>
        <th width="20%">Author</th>
        <th width="60%">Comment</th>
        <th width="20%">Date</th>
    </tr>
    @foreach (var item in Model.OrderBy(item => item.CommentDate))
    {
        <tr>
            <td>
                <a class="rowLink"></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentDate)
            </td>
        </tr>
    }

</table>