@model IEnumerable<Forum_ASP.NET.Models.Comment>


@{
    ViewBag.Title = "Comments";
}

<h2>@ViewData["Title"]</h2>

<p>
    
    <a asp-action="CreateComment" asp-controller="Discussions" asp-route-id="@Model.First().DiscussionId">New Comment</a>
    <!--<a class="btn btn-default" onclick="location.href='atUrl.Action("CreateComment", "Discussions")'">New Comment</a>-->
</p>

<table class="table">
    <tr>
        <th>Author</th>
        <th>Comment</th>
        <th>Date</th>
    </tr>
    <!--foreach (var item in Model.Where(modelItem => item.DiscussionId.Equals(id))-->
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <!--Html.DisplayFor(modelItem => item.CommentId.Equals(id))-->
                @Html.DisplayFor(modelItem => item.CommentAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscussionId)
            </td>
        </tr>
    }

</table>