@using System.Security.Claims
@model IEnumerable<Forum_ASP.NET.Models.Discussion>
@{
    ViewBag.Title = "Discussions";
}

<h2>@ViewData["Title"]</h2>

@if (User.IsSignedIn())
{
<p>
    <a class="btn btn-default" asp-action="Create" asp-controller="Discussions">New Discussion</a>
</p>
}
else { }

<table>
    <tr>
        <th width="1%"></th>
        <th width="20%">Name</th>
        <th width="20%">Author</th>
        <th width="20%">Last Date</th>
        <th width="20%">Creating Date</th>
    </tr>

    @foreach (var item in Model.OrderByDescending(item => item.LastDate))
    {
        <tr> <!--class="link" onclick="location.href='atUrl.Action("Comment", "Discussions")'">-->
            <td>
                <a class="rowLink" asp-action="Comment" asp-controller="Discussions" asp-route-id="@item.DiscussionId"></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscussionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatingDate)
            </td>
            <!--<td>
                <a class="btn btn-default" asp-action="Edit" asp-controller="Discussions" asp-route-id="@item.DiscussionId">Edit</a>
            </td>-->
        </tr>
    }
</table>